In [80]:
import pandas as pd

## Series (aka row)
A Series is a one-dimensional object similar to an array or a list. It will automatically assign a index to each item. By default, each item will receive an index label from 0 to N, where N is the length of the Series minus one.

In [83]:
# create a Series with an arbitrary list
s = pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [84]:
2 in s

True

In [85]:
len(s)

5

## DataFrame (aka table)
A DataFrame is a tablular data structure comprised of rows and columns. You can also think of a DataFrame as a group of Series objects that share an index (the column names).

In [86]:
s_1 = pd.Series([1,2,3,4])
s_2 = pd.Series([5,6,7,8])
df = pd.DataFrame([s_1,s_2])
df.head()

   0  1  2  3
0  1  2  3  4
1  5  6  7  8

In [88]:
df.shape

(2, 4)

In [89]:
data = {"year": [2002, 2006, 2010, 2014, 2018],
        "win": [True, True, True, True, False],
        "goals": [34, 40, 90, 50, 30]}

In [91]:
world_cup = pd.DataFrame(data)

In [92]:
world_cup.head()

   goals    win  year
0     34   True  2002
1     40   True  2006
2     90   True  2010
3     50   True  2014
4     30  False  2018

In [16]:
%pwd

'/Users/Jan/Documents/Privat/Studium/Like/HiWi/kaggle_workshop'

In [17]:
%ls

00_Pandas_Basics.ipynb        Slides_final.key
01_Titanic_EDA.ipynb          Slides_final.pdf
02_Data_Cleaning.ipynb        challenge/
03_Feature_Engineering.ipynb  data/
04_Models.ipynb               images/
README.md                     notes/

In [94]:
teams = pd.read_csv('data/soccer_teams.csv', delimiter=', ')
teams.head()

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

,Country,#,Position,FIFA Display Name,Last Name,First Name,Shirt Name,Date of Birth,Club,Club Country,Height
0,Algeria,1,Goalkeeper,Lounes GAOUAOUI,GAOUAOUI,Lounes,GAOUAOUI,28 Sep 1977,Chlef,ALG,188
1,Algeria,2,Defender,Madjid BOUGHERRA,BOUGHERRA,Madjid,BOUGHERRA,07 Oct 1982,Rangers,SCO,190
2,Algeria,3,Defender,Nadir BELHADJ,BELHADJ,Nadir,BELHADJ,18 Jun 1982,Portsmouth,ENG,180
3,Algeria,4,Defender,Anther YAHIA,YAHIA,Anther,YAHIA,21 Mar 1982,Bochum,GER,185
4,Algeria,5,Defender,Rafik HALLICHE,HALLICHE,Rafik,HALLICHE,02 Sep 1986,Nacional Madeira,POR,187

In [96]:
teams.describe()

               #      Height
count  736.00000  736.000000
mean    12.00000  181.548913
std      6.63776    6.717653
min      1.00000  165.000000
25%      6.00000  177.000000
50%     12.00000  182.000000
75%     18.00000  186.000000
max     23.00000  202.000000

## Selecting rows and columns

### 1. Index operator []

The index operator can be used in two ways. Firstly to select columns dataframe['columnname'] and secondly to select rows using slicing dataframe[1:10]

In [24]:
teams["Country"].head()

0    Algeria
1    Algeria
2    Algeria
3    Algeria
4    Algeria
Name: Country, dtype: object

In [98]:
type(teams['Country'])

pandas.core.series.Series

In [99]:
teams[2:7]

,Country,#,Position,FIFA Display Name,Last Name,First Name,Shirt Name,Date of Birth,Club,Club Country,Height
2,Algeria,3,Defender,Nadir BELHADJ,BELHADJ,Nadir,BELHADJ,18 Jun 1982,Portsmouth,ENG,180
3,Algeria,4,Defender,Anther YAHIA,YAHIA,Anther,YAHIA,21 Mar 1982,Bochum,GER,185
4,Algeria,5,Defender,Rafik HALLICHE,HALLICHE,Rafik,HALLICHE,02 Sep 1986,Nacional Madeira,POR,187
5,Algeria,6,Midfielder,Yazid MANSOURI,MANSOURI,Yazid,MANSOURI,25 Feb 1978,Lorient,FRA,175
6,Algeria,7,Midfielder,Ryad BOUDEBOUZ,BOUDEBOUZ,Ryad,BOUDEBOUZ,19 Feb 1990,Sochaux,FRA,178

In [100]:
teams.iloc[2:5, 3:] # dataframe.iloc[rows, columns] (iloc = index location)

,FIFA Display Name,Last Name,First Name,Shirt Name,Date of Birth,Club,Club Country,Height
2,Nadir BELHADJ,BELHADJ,Nadir,BELHADJ,18 Jun 1982,Portsmouth,ENG,180
3,Anther YAHIA,YAHIA,Anther,YAHIA,21 Mar 1982,Bochum,GER,185
4,Rafik HALLICHE,HALLICHE,Rafik,HALLICHE,02 Sep 1986,Nacional Madeira,POR,187

In [102]:
teams.loc[2:5, "Shirt Name":] # dataframe.loc[rows, columns] (loc = label location)

  Shirt Name Date of Birth              Club Club Country  Height
2    BELHADJ   18 Jun 1982        Portsmouth          ENG     180
3      YAHIA   21 Mar 1982            Bochum          GER     185
4   HALLICHE   02 Sep 1986  Nacional Madeira          POR     187
5   MANSOURI   25 Feb 1978           Lorient          FRA     175

### 2. where() and bit masking

In [192]:
teams['Height'] > 180 # Returns Series object with True and False according to the condition

0       True
1       True
2      False
3       True
4       True
5      False
6      False
7      False
8       True
9      False
10      True
11      True
12      True
13     False
14     False
15     False
16      True
17      True
18      True
19     False
20     False
21     False
22      True
23      True
24      True
25     False
26     False
27      True
28     False
29     False
       ...
706    False
707    False
708     True
709     True
710    False
711    False
712     True
713     True
714     True
715     True
716     True
717     True
718    False
719    False
720     True
721    False
722    False
723    False
724    False
725    False
726     True
727    False
728    False
729     True
730     True
731     True
732    False
733     True
734    False
735     True
Name: Height, Length: 736, dtype: bool

In [103]:
type(teams['Height'] > 180)

pandas.core.series.Series

In [104]:
teams[(teams['Height'] > 180)]

,Country,#,Position,FIFA Display Name,Last Name,First Name,Shirt Name,Date of Birth,Club,Club Country,Height
0,Algeria,1,Goalkeeper,Lounes GAOUAOUI,GAOUAOUI,Lounes,GAOUAOUI,28 Sep 1977,Chlef,ALG,188
1,Algeria,2,Defender,Madjid BOUGHERRA,BOUGHERRA,Madjid,BOUGHERRA,07 Oct 1982,Rangers,SCO,190
3,Algeria,4,Defender,Anther YAHIA,YAHIA,Anther,YAHIA,21 Mar 1982,Bochum,GER,185
4,Algeria,5,Defender,Rafik HALLICHE,HALLICHE,Rafik,HALLICHE,02 Sep 1986,Nacional Madeira,POR,187
8,Algeria,9,Forward,Abdelkader GHEZZAL,GHEZZAL,Abdelkader Mohamed,GHEZZAL,05 Dec 1984,Siena,ITA,186
10,Algeria,11,Forward,Rafik DJEBBOUR,DJEBBOUR,Rafik Zoheir,DJEBBOUR,08 Mar 1984,AEK Athens,GRE,185
11,Algeria,12,Defender,Habib BELLAID,BELLAID,Habib Mohamed,BELLAID,28 Mar 1986,Boulogne,FRA,189
12,Algeria,13,Midfielder,Karim MATMOUR,MATMOUR,Karim,MATMOUR,25 Jun 1985,Borussia Moenchengladbach,GER,181
16,Algeria,17,Midfielder,Adlane GUEDIOURA,GUEDIOURA,Adlane,GUEDIOURA,12 Nov 1985,Wolverhampton,ENG,183
17,Algeria,18,Defender,Carl MEDJANI,MEDJANI,Carl,MEDJANI,15 May 1985,Ajaccio,FRA,184
18,Algeria,19,Midfielder,Hassan YEBDA,YEBDA,Hassan,YEBDA,14 May 1984,Portsmouth,ENG,188
22,Algeria,23,Goalkeeper,Rais M BOLHI,M'BOLHI,Adi Rais Cobos Adrien,MBOLHI,25 Apr 1986,Slavia Sofia,BUL,190
23,Argentina,1,Goalkeeper,Diego POZO,POZO,Diego,POZO,16 Feb 1978,Atletico Colon,ARG,183
24,Argentina,2,Defender,Martin DEMICHELIS,DEMICHELIS,Martin Gaston,DEMICHELIS,20 Dec 1980,Bayern Munich,GER,184
27,Argentina,5,Midfielder,Mario BOLATTI,BOLATTI,Mario Ariel,BOLATTI,17 Feb 1985,Fiorentina,ITA,189
30,Argentina,8,Midfielder,Juan VERON,VERON,Juan Sebastian,VERON,09 Mar 1975,Estudiantes La Plata,ARG,183
31,Argentina,9,Forward,Gonzalo HIGUAIN,HIGUAIN,Gonzalo Gerardo,HIGUAIN,10 Dec 1987,Real Madrid,ESP,182
35,Argentina,13,Defender,Walter SAMUEL,SAMUEL,Walter Adrian,SAMUEL,23 Mar 1978,Inter,ITA,182
39,Argentina,17,Midfielder,Jonas GUTIERREZ,GUTIERREZ,Jonas Manuel,JONAS,05 Jul 1983,Newcastle Utd.,ENG,182
40,Argentina,18,Forward,Martin PALERMO,PALERMO,Martin,PALERMO,07 Nov 1973,Boca Juniors,ARG,188
44,Argentina,22,Goalkeeper,Sergio ROMERO,ROMERO,Sergio German,ROMERO,22 Feb 1987,AZ Alkmaar,NED,191
46,Australia,1,Goalkeeper,Mark SCHWARZER,SCHWARZER,Mark,SCHWARZER,06 Oct 1972,Fulham,ENG,196
47,Australia,2,Defender,Lucas NEILL,NEILL,Lucas Edward,NEILL,09 Mar 1978,Galatasaray,TUR,185
48,Australia,3,Defender,Craig MOORE,MOORE,Craig Andrew,MOORE,12 Dec 1975,No club affiliation,UNK,186
51,Australia,6,Defender,Michael BEAUCHAMP,BEAUCHAMP,Michael Francis,BEAUCHAMP,08 Mar 1981,Al Jazira,UAE,191
52,Australia,7,Midfielder,Brett EMERTON,EMERTON,Brett Michael,EMERTON,22 Feb 1979,Blackburn Rovers,ENG,185
54,Australia,9,Forward,Joshua KENNEDY,KENNEDY,Joshua Blake,KENNEDY,20 Aug 1982,Nagoya Grampus Eight,JPN,192
55,Australia,10,Forward,Harry KEWELL,KEWELL,Harry,KEWELL,22 Sep 1978,Galatasaray,TUR,183
57,Australia,12,Goalkeeper,Adam FEDERICI,FEDERICI,Adam Jay,FEDERICI,31 Jan 1985,Reading,ENG,188
58,Australia,13,Midfielder,Vince GRELLA,GRELLA,Vincenzo,GRELLA,05 Oct 1979,Blackburn Rovers,ENG,183
...,...,...,...,...,...,...,...,...,...,...,...
683,Switzerland,17,Defender,Reto ZIEGLER,ZIEGLER,Reto,ZIEGLER,16 Jan 1986,Sampdoria,ITA,183
685,Switzerland,19,Forward,Eren DERDIYOK,DERDIYOK,Eren,DERDIYOK,12 Jun 1988,Bayer Leverkusen,GER,190
687,Switzerland,21,Goalkeeper,Johnny LEONI,LEONI,Johnny,LEONI,30 Jun 1984,FC Zurich,SUI,189
688,Switzerland,22,Defender,Mario EGGIMANN,EGGIMANN,Mario,EGGIMANN,24 Jan 1981,Hannover 96,GER,184
690,Uruguay,1,Goalkeeper,Fernando MUSLERA,MUSLERA MICOL,Nestor Fernando,MUSLERA,16 Jun 1986,Lazio,ITA,190
691,Uruguay,2,Defender,Diego LUGANO,LUGANO MORENO,Diego Alfredo,LUGANO,02 Nov 1980,Fenerbahce,TUR,188
692,Uruguay,3,Defender,Diego GODIN,GODIN LEAL,Diego Roberto,GODIN,16 Feb 1986,Villarreal,ESP,185
695,Uruguay,6,Defender,Mauricio VICTORINO,VICTORINO DANSILIO,Mauricio Bernardo,VICTORINO,11 Oct 1982,Univ. de Chile,CHI,182
696,Uruguay,7,Forward,Edinson CAVANI,CAVANI GOMEZ,Edinson Roberto,CAVANI,14 Feb 1987,Palermo,ITA,188
697,Uruguay,8,Midfielder,Sebastian EGUREN,EGUREN LEDESMA,Sebastian,EGUREN,08 Jan 1981,AIK Stockholm,SWE,186
698,Uruguay,9,Forward,Luis SUAREZ,SUAREZ DIAZ,Luis Alberto,SUAREZ,24 Jan 1987,Ajax,NED,181
699,Uruguay,10,Forward,Diego FORLAN,FORLÁN CORAZO,Diego,FORLAN,19 May 1979,Atletico Madrid,ESP,181
700,Uruguay,11,Midfielder,Alvaro PEREIRA,PEREIRA BARRAGAN,Alvaro Daniel,A.PEREIRA,28 Nov 1985,Porto,POR,182
701,Uruguay,12,Goalkeeper,Juan CASTILLO,CASTILLO IRIART,Juan Guillermo,CASTILLO,17 Apr 1978,Deportivo Cali,COL,181
702,Uruguay,13,Forward,Sebastian ABREU,ABREU GALLO,Washington Sebastian,W.S.ABREU.G,17 Oct 1976,Botafogo,BRA,193
708,Uruguay,19,Defender,Andres SCOTTI,SCOTTI PONCE DE LEON,Andres,SCOTTI,14 Dec 1975,Colo Colo,CHI,183
709,Uruguay,20,Midfielder,Alvaro FERNANDEZ,FERNANDEZ GAY,Alvaro A.,FERNANDEZ,11 Oct 1985,Univ. de Chile,CHI,185
712,Uruguay,23,Goalkeeper,Martin SILVA,SILVA LEITES,Martin Andres,SILVA,25 Mar 1983,Defensor Sporting,URU,187
713,USA,1,Goalkeeper,Tim HOWARD,HOWARD,Timothy Matthew,HOWARD,06 Mar 1979,Everton,ENG,187
714,USA,2,Defender,Jonathan SPECTOR,SPECTOR,Jonathan Michael Paul,SPECTOR,01 Mar 1986,West Ham Utd.,ENG,183
715,USA,3,Defender,Carlos BOCANEGRA,BOCANEGRA,Carlos Manuel,BOCANEGRA,25 May 1979,Rennes,FRA,184
716,USA,4,Midfielder,Michael BRADLEY,BRADLEY,Michael Sheehan,BRADLEY,31 Jul 1987,Borussia Moenchengladbach,GER,185
717,USA,5,Defender,Oguchi ONYEWU,ONYEWU,Oguchialu Chijioke,ONYEWU,13 May 1982,AC Milan,ITA,192
720,USA,8,Midfielder,Clint DEMPSEY,DEMPSEY,Clinton,DEMPSEY,09 Mar 1983,Fulham,ENG,185
726,USA,14,Forward,Edson BUDDLE,BUDDLE,Edson Michael,BUDDLE,21 May 1981,Los Angeles Galaxy,USA,185
729,USA,17,Forward,Jozy ALTIDORE,ALTIDORE,Josmer Volmy,ALTIDORE,06 Nov 1989,Hull City,ENG,185
730,USA,18,Goalkeeper,Brad GUZAN,GUZAN,Bradley Edwin,GUZAN,09 Sep 1984,Aston Villa,ENG,193
731,USA,19,Midfielder,Maurice EDU,EDU,Maurice,EDU,18 Apr 1986,Rangers,SCO,183
733,USA,21,Defender,Clarence GOODSON,GOODSON IV,Clarence Edgar,GOODSON,17 May 1982,IK Start,NOR,193
735,USA,23,Goalkeeper,Marcus HAHNEMANN,HAHNEMANN,Marcus,HAHNEMANN,15 Jun 1972,Wolverhampton,ENG,192

In [105]:
# | bitwise or     & bitwise and AUFGABE
teams[(teams['Height'] > 180) & (teams['Country'] == 'Germany')].head()

,Country,#,Position,FIFA Display Name,Last Name,First Name,Shirt Name,Date of Birth,Club,Club Country,Height
230,Germany,1,Goalkeeper,Manuel NEUER,NEUER,Manuel,NEUER,27 Mar 1986,Schalke 04,GER,190
231,Germany,2,Midfielder,Marcell JANSEN,JANSEN,Marcell,JANSEN,04 Nov 1985,Hamburger SV,GER,190
232,Germany,3,Defender,Arne FRIEDRICH,FRIEDRICH,Arne,FRIEDRICH,29 May 1979,Hertha Berlin,GER,185
233,Germany,4,Defender,Dennis AOGO,AOGO,Dennis,AOGO,14 Jan 1987,Hamburger SV,GER,184
234,Germany,5,Defender,Serdar TASCI,TASCI,Serdar,TASCI,24 Apr 1987,VfB Stuttgart,GER,186

In [106]:
teams.where((teams['Height'] > 180) & (teams['Country'] == 'Algeria')).head()

,Country,#,Position,FIFA Display Name,Last Name,First Name,Shirt Name,Date of Birth,Club,Club Country,Height
0,Algeria,1.0,Goalkeeper,Lounes GAOUAOUI,GAOUAOUI,Lounes,GAOUAOUI,28 Sep 1977,Chlef,ALG,188.0
1,Algeria,2.0,Defender,Madjid BOUGHERRA,BOUGHERRA,Madjid,BOUGHERRA,07 Oct 1982,Rangers,SCO,190.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Algeria,4.0,Defender,Anther YAHIA,YAHIA,Anther,YAHIA,21 Mar 1982,Bochum,GER,185.0
4,Algeria,5.0,Defender,Rafik HALLICHE,HALLICHE,Rafik,HALLICHE,02 Sep 1986,Nacional Madeira,POR,187.0

In [34]:
team_subset = teams[(teams['Height'] > 180) & (teams['Country'] == 'Germany')]
team_nosubset = teams.where((teams['Height'] > 180) & (teams['Country'] == 'Germany'))
print(len(team_subset))
print(len(team_nosubset))

16
736

In [107]:
teams.where((teams['Height'] > 180) & (teams['Country'] == 'Algeria'),"Test").head()

,Country,#,Position,FIFA Display Name,Last Name,First Name,Shirt Name,Date of Birth,Club,Club Country,Height
0,Algeria,1,Goalkeeper,Lounes GAOUAOUI,GAOUAOUI,Lounes,GAOUAOUI,28 Sep 1977,Chlef,ALG,188
1,Algeria,2,Defender,Madjid BOUGHERRA,BOUGHERRA,Madjid,BOUGHERRA,07 Oct 1982,Rangers,SCO,190
2,Test,Test,Test,Test,Test,Test,Test,Test,Test,Test,Test
3,Algeria,4,Defender,Anther YAHIA,YAHIA,Anther,YAHIA,21 Mar 1982,Bochum,GER,185
4,Algeria,5,Defender,Rafik HALLICHE,HALLICHE,Rafik,HALLICHE,02 Sep 1986,Nacional Madeira,POR,187

In [108]:
mask = (teams['Height'] > 180) & (teams['Country'] == 'Algeria')
teams.iloc[:, 3:5].where(mask, "Auto").head()

  FIFA Display Name  Last Name
0   Lounes GAOUAOUI   GAOUAOUI
1  Madjid BOUGHERRA  BOUGHERRA
2              Auto       Auto
3      Anther YAHIA      YAHIA
4    Rafik HALLICHE   HALLICHE

## Join dataframes

In [109]:
left_frame = pd.DataFrame({'key': range(5), 
                           'left_value': ['a', 'b', 'c', 'd', 'e']})
right_frame = pd.DataFrame({'key': range(2, 7), 
                           'right_value': ['f', 'g', 'h', 'i', 'j']})

In [110]:
left_frame

   key left_value
0    0          a
1    1          b
2    2          c
3    3          d
4    4          e

In [111]:
right_frame

   key right_value
0    2           f
1    3           g
2    4           h
3    5           i
4    6           j

In [43]:
pd.merge(left_frame,right_frame, how='inner')

   key left_value right_value
0    2          c           f
1    3          d           g
2    4          e           h

In [44]:
pd.merge(left_frame,right_frame, how='left')

   key left_value right_value
0    0          a         NaN
1    1          b         NaN
2    2          c           f
3    3          d           g
4    4          e           h

how : {'left', 'right', 'outer', 'inner'}, default 'inner'

left: use only keys from left frame (SQL: left outer join)

right: use only keys from right frame (SQL: right outer join)

outer: use union of keys from both frames (SQL: full outer join)

inner: use intersection of keys from both frames (SQL: inner join)

## Combine dataframes

In [112]:
pd.concat([left_frame, right_frame])

   key left_value right_value
0    0          a         NaN
1    1          b         NaN
2    2          c         NaN
3    3          d         NaN
4    4          e         NaN
0    2        NaN           f
1    3        NaN           g
2    4        NaN           h
3    5        NaN           i
4    6        NaN           j

In [57]:
pd.concat([left_frame, right_frame], axis=0) # change axis = 1

   key left_value right_value
0    0          a         NaN
1    1          b         NaN
2    2          c         NaN
3    3          d         NaN
4    4          e         NaN
0    2        NaN           f
1    3        NaN           g
2    4        NaN           h
3    5        NaN           i
4    6        NaN           j

## Grouping dataframes

In [113]:
teams.groupby(by='Club').head()

,Country,#,Position,FIFA Display Name,Last Name,First Name,Shirt Name,Date of Birth,Club,Club Country,Height
0,Algeria,1,Goalkeeper,Lounes GAOUAOUI,GAOUAOUI,Lounes,GAOUAOUI,28 Sep 1977,Chlef,ALG,188
1,Algeria,2,Defender,Madjid BOUGHERRA,BOUGHERRA,Madjid,BOUGHERRA,07 Oct 1982,Rangers,SCO,190
2,Algeria,3,Defender,Nadir BELHADJ,BELHADJ,Nadir,BELHADJ,18 Jun 1982,Portsmouth,ENG,180
3,Algeria,4,Defender,Anther YAHIA,YAHIA,Anther,YAHIA,21 Mar 1982,Bochum,GER,185
4,Algeria,5,Defender,Rafik HALLICHE,HALLICHE,Rafik,HALLICHE,02 Sep 1986,Nacional Madeira,POR,187
5,Algeria,6,Midfielder,Yazid MANSOURI,MANSOURI,Yazid,MANSOURI,25 Feb 1978,Lorient,FRA,175
6,Algeria,7,Midfielder,Ryad BOUDEBOUZ,BOUDEBOUZ,Ryad,BOUDEBOUZ,19 Feb 1990,Sochaux,FRA,178
7,Algeria,8,Midfielder,Medhi LACEN,LACEN,Medhi Gregory Guiseppe,LACEN,15 Mar 1984,Racing Santander,ESP,178
8,Algeria,9,Forward,Abdelkader GHEZZAL,GHEZZAL,Abdelkader Mohamed,GHEZZAL,05 Dec 1984,Siena,ITA,186
9,Algeria,10,Forward,Rafik SAIFI,SAIFI,Rafik,SAIFI,07 Feb 1975,Istres,FRA,178
10,Algeria,11,Forward,Rafik DJEBBOUR,DJEBBOUR,Rafik Zoheir,DJEBBOUR,08 Mar 1984,AEK Athens,GRE,185
11,Algeria,12,Defender,Habib BELLAID,BELLAID,Habib Mohamed,BELLAID,28 Mar 1986,Boulogne,FRA,189
12,Algeria,13,Midfielder,Karim MATMOUR,MATMOUR,Karim,MATMOUR,25 Jun 1985,Borussia Moenchengladbach,GER,181
13,Algeria,14,Defender,Abdelkader LAIFAOUI,LAIFAOUI,Abdelkader,LAIFAOUI,29 Jul 1981,Setif,ALG,177
14,Algeria,15,Midfielder,Karim ZIANI,ZIANI,Karim Koceila Yanis,ZIANI,17 Aug 1982,Wolfsburg,GER,168
15,Algeria,16,Goalkeeper,Faouzi CHAOUCHI,CHAOUCHI,Faouzi,CHAOUCHI,05 Dec 1984,Setif,ALG,180
16,Algeria,17,Midfielder,Adlane GUEDIOURA,GUEDIOURA,Adlane,GUEDIOURA,12 Nov 1985,Wolverhampton,ENG,183
17,Algeria,18,Defender,Carl MEDJANI,MEDJANI,Carl,MEDJANI,15 May 1985,Ajaccio,FRA,184
18,Algeria,19,Midfielder,Hassan YEBDA,YEBDA,Hassan,YEBDA,14 May 1984,Portsmouth,ENG,188
19,Algeria,20,Defender,Djamel MESBAH,MESBAH,Djamel,Eddine,MESBAH 09 Oct 1984,Lecce,ITA,180
20,Algeria,21,Midfielder,Foued KADIR,KADIR,Foued,KADIR,05 Dec 1983,Valenciennes,FRA,180
21,Algeria,22,Midfielder,Djamal ABDOUN,ABDOUN,Djamal,ABDOUN,14 Feb 1986,Nantes,FRA,180
22,Algeria,23,Goalkeeper,Rais M BOLHI,M'BOLHI,Adi Rais Cobos Adrien,MBOLHI,25 Apr 1986,Slavia Sofia,BUL,190
23,Argentina,1,Goalkeeper,Diego POZO,POZO,Diego,POZO,16 Feb 1978,Atletico Colon,ARG,183
24,Argentina,2,Defender,Martin DEMICHELIS,DEMICHELIS,Martin Gaston,DEMICHELIS,20 Dec 1980,Bayern Munich,GER,184
25,Argentina,3,Defender,Clemente RODRIGUEZ,RODRIGUEZ,Clemente Juan,RODRIGUEZ C.,31 Jul 1981,Estudiantes La Plata,ARG,166
26,Argentina,4,Defender,Nicolas BURDISSO,BURDISSO,Nicolas Andres,BURDISSO,12 Apr 1981,AS Roma,ITA,174
27,Argentina,5,Midfielder,Mario BOLATTI,BOLATTI,Mario Ariel,BOLATTI,17 Feb 1985,Fiorentina,ITA,189
28,Argentina,6,Defender,Gabriel HEINZE,HEINZE,Gabriel Ivan,HEINZE,19 Apr 1978,Marseille,FRA,178
29,Argentina,7,Midfielder,Angel DI MARIA,DI MARIA,Angel Fabian,DI MARIA,14 Feb 1988,Benfica,POR,180
...,...,...,...,...,...,...,...,...,...,...,...
699,Uruguay,10,Forward,Diego FORLAN,FORLÁN CORAZO,Diego,FORLAN,19 May 1979,Atletico Madrid,ESP,181
701,Uruguay,12,Goalkeeper,Juan CASTILLO,CASTILLO IRIART,Juan Guillermo,CASTILLO,17 Apr 1978,Deportivo Cali,COL,181
702,Uruguay,13,Forward,Sebastian ABREU,ABREU GALLO,Washington Sebastian,W.S.ABREU.G,17 Oct 1976,Botafogo,BRA,193
704,Uruguay,15,Midfielder,Diego PEREZ,PEREZ AGUADO,Diego Fernando,PEREZ,18 May 1980,Monaco,FRA,176
706,Uruguay,17,Midfielder,Egidio AREVALO,AREVALO RIOS,Egidio Raul,AREVALO RIOS,01 Jan 1982,Penarol,URU,168
708,Uruguay,19,Defender,Andres SCOTTI,SCOTTI PONCE DE LEON,Andres,SCOTTI,14 Dec 1975,Colo Colo,CHI,183
709,Uruguay,20,Midfielder,Alvaro FERNANDEZ,FERNANDEZ GAY,Alvaro A.,FERNANDEZ,11 Oct 1985,Univ. de Chile,CHI,185
710,Uruguay,21,Forward,Sebastian FERNANDEZ,FERNANDEZ MIGLIERINA,Sebastián Bruno,S.FERNANDEZ,23 May 1985,Banfield,ARG,167
712,Uruguay,23,Goalkeeper,Martin SILVA,SILVA LEITES,Martin Andres,SILVA,25 Mar 1983,Defensor Sporting,URU,187
714,USA,2,Defender,Jonathan SPECTOR,SPECTOR,Jonathan Michael Paul,SPECTOR,01 Mar 1986,West Ham Utd.,ENG,183
715,USA,3,Defender,Carlos BOCANEGRA,BOCANEGRA,Carlos Manuel,BOCANEGRA,25 May 1979,Rennes,FRA,184
716,USA,4,Midfielder,Michael BRADLEY,BRADLEY,Michael Sheehan,BRADLEY,31 Jul 1987,Borussia Moenchengladbach,GER,185
718,USA,6,Defender,Steve CHERUNDOLO,CHERUNDOLO,Steven Emil,CHERUNDOLO,19 Feb 1979,Hannover 96,GER,168
719,USA,7,Midfielder,DaMarcus BEASLEY,BEASLEY,DaMarcus Lamont,BEASLEY,24 May 1982,Rangers,SCO,170
720,USA,8,Midfielder,Clint DEMPSEY,DEMPSEY,Clinton,DEMPSEY,09 Mar 1983,Fulham,ENG,185
721,USA,9,Forward,Herculez GOMEZ,GOMEZ,Herculez,GOMEZ,06 Apr 1982,Puebla,MEX,178
722,USA,10,Midfielder,Landon DONOVAN,DONOVAN,Landon Timothy,DONOVAN,04 Mar 1982,Los Angeles Galaxy,USA,173
723,USA,11,Midfielder,Stuart HOLDEN,HOLDEN,Stuart Alistair,HOLDEN,01 Aug 1985,Bolton Wanderers,ENG,178
724,USA,12,Defender,Jonathan BORNSTEIN,BORNSTEIN,Jonathan Rey,BORNSTEIN,07 Nov 1984,Chivas USA,USA,175
725,USA,13,Midfielder,Ricardo CLARK,CLARK,Ricardo Anthony,CLARK,10 Feb 1983,Eintracht Frankfurt,GER,178
726,USA,14,Forward,Edson BUDDLE,BUDDLE,Edson Michael,BUDDLE,21 May 1981,Los Angeles Galaxy,USA,185
727,USA,15,Defender,Jay DeMERIT,DE MERIT,Jay Michael,DEMERIT,04 Dec 1979,Watford,ENG,180
728,USA,16,Midfielder,Francisco TORRES,TORRES MEZZELL,Jose Francisco,TORRES,29 Oct 1987,Pachuca,MEX,168
729,USA,17,Forward,Jozy ALTIDORE,ALTIDORE,Josmer Volmy,ALTIDORE,06 Nov 1989,Hull City,ENG,185
730,USA,18,Goalkeeper,Brad GUZAN,GUZAN,Bradley Edwin,GUZAN,09 Sep 1984,Aston Villa,ENG,193
731,USA,19,Midfielder,Maurice EDU,EDU,Maurice,EDU,18 Apr 1986,Rangers,SCO,183
732,USA,20,Forward,Robbie FINDLEY,FINDLEY,Robert,FINDLEY,04 Aug 1985,Real Salt Lake,USA,175
733,USA,21,Defender,Clarence GOODSON,GOODSON IV,Clarence Edgar,GOODSON,17 May 1982,IK Start,NOR,193
734,USA,22,Midfielder,Benny FEILHABER,FEILHABER,Benny,FEILHABER,19 Jan 1985,AGF Aarhus,DEN,175
735,USA,23,Goalkeeper,Marcus HAHNEMANN,HAHNEMANN,Marcus,HAHNEMANN,15 Jun 1972,Wolverhampton,ENG,192

In [114]:
teams.groupby(by='Club').count().sort_values('Position', ascending=False)

,Country,#,Position,FIFA Display Name,Last Name,First Name,Shirt Name,Date of Birth,Club Country,Height
Club,,,,,,,,,,
Barcelona,13,13,13,13,13,13,13,13,13,13
Chelsea,13,13,13,13,13,13,13,13,13,13
Liverpool,12,12,12,12,12,12,12,12,12,12
Bayern Munich,11,11,11,11,11,11,11,11,11,11
Inter,10,10,10,10,10,10,10,10,10,10
Panathinaikos,10,10,10,10,10,10,10,10,10,10
Arsenal,10,10,10,10,10,10,10,10,10,10
Real Madrid,10,10,10,10,10,10,10,10,10,10
Wolfsburg,9,9,9,9,9,9,9,9,9,9
Ajax,9,9,9,9,9,9,9,9,9,9
Juventus,9,9,9,9,9,9,9,9,9,9
Tottenham Hotspur,8,8,8,8,8,8,8,8,8,8
Udinese,8,8,8,8,8,8,8,8,8,8
Portsmouth,8,8,8,8,8,8,8,8,8,8
Everton,7,7,7,7,7,7,7,7,7,7
Valencia,7,7,7,7,7,7,7,7,7,7
Manchester Utd.,7,7,7,7,7,7,7,7,7,7
Manchester City,7,7,7,7,7,7,7,7,7,7
Lyon,7,7,7,7,7,7,7,7,7,7
Twente Enschede,7,7,7,7,7,7,7,7,7,7
April 25,7,7,7,7,7,7,7,7,7,7
AC Milan,7,7,7,7,7,7,7,7,7,7
VfB Stuttgart,7,7,7,7,7,7,7,7,7,7
Hamburger SV,7,7,7,7,7,7,7,7,7,7
Olimpia Tegucigalpa,6,6,6,6,6,6,6,6,6,6
Benfica,6,6,6,6,6,6,6,6,6,6
Werder Bremen,6,6,6,6,6,6,6,6,6,6
Bayer Leverkusen,6,6,6,6,6,6,6,6,6,6
Porto,6,6,6,6,6,6,6,6,6,6
Basel,5,5,5,5,5,5,5,5,5,5
...,...,...,...,...,...,...,...,...,...,...
Platense,1,1,1,1,1,1,1,1,1,1
Plymouth Argyle,1,1,1,1,1,1,1,1,1,1
Cerro Porteno,1,1,1,1,1,1,1,1,1,1
Hibernian,1,1,1,1,1,1,1,1,1,1
Canterbury Utd.,1,1,1,1,1,1,1,1,1,1
Puebla,1,1,1,1,1,1,1,1,1,1
Cagliari,1,1,1,1,1,1,1,1,1,1
Brondby,1,1,1,1,1,1,1,1,1,1
Omiya Ardija,1,1,1,1,1,1,1,1,1,1
Olimpia Asuncion,1,1,1,1,1,1,1,1,1,1
Maritzburg Utd.,1,1,1,1,1,1,1,1,1,1
Oita Trinita,1,1,1,1,1,1,1,1,1,1
Espanyol,1,1,1,1,1,1,1,1,1,1
Melbourne Victory,1,1,1,1,1,1,1,1,1,1
Midtjylland,1,1,1,1,1,1,1,1,1,1
Dynamo Moscow,1,1,1,1,1,1,1,1,1,1
Moroka Swallows,1,1,1,1,1,1,1,1,1,1
Motherwell,1,1,1,1,1,1,1,1,1,1
Munich 1860,1,1,1,1,1,1,1,1,1,1
NAC Breda,1,1,1,1,1,1,1,1,1,1
Dundee Utd.,1,1,1,1,1,1,1,1,1,1
Deportivo La Coruna,1,1,1,1,1,1,1,1,1,1
Nantes,1,1,1,1,1,1,1,1,1,1
Deportivo Cali,1,1,1,1,1,1,1,1,1,1
New York Red Bulls,1,1,1,1,1,1,1,1,1,1
Newcastle United Jets,1,1,1,1,1,1,1,1,1,1
Newcastle Utd.,1,1,1,1,1,1,1,1,1,1
Defensor Sporting,1,1,1,1,1,1,1,1,1,1
Dalian Shide,1,1,1,1,1,1,1,1,1,1
Liga de Quito,1,1,1,1,1,1,1,1,1,1

In [117]:
# Exercise: List all players from Bayern Munich who are taller than 180
teams[(teams['Height'] > 180) & (teams['Club'] == 'Bayern Munich')]

,Country,#,Position,FIFA Display Name,Last Name,First Name,Shirt Name,Date of Birth,Club,Club Country,Height
24,Argentina,2,Defender,Martin DEMICHELIS,DEMICHELIS,Martin Gaston,DEMICHELIS,20 Dec 1980,Bayern Munich,GER,184
240,Germany,11,Forward,Miroslav KLOSE,KLOSE,Miroslaw Josef,KLOSE,09 Jun 1978,Bayern Munich,GER,182
242,Germany,13,Midfielder,Thomas MUELLER,MÜLLER,Thomas,MÜLLER,13 Sep 1989,Bayern Munich,GER,186
243,Germany,14,Defender,Holger BADSTUBER,BADSTUBER,Holger,BADSTUBER,13 Mar 1989,Bayern Munich,GER,190
251,Germany,22,Goalkeeper,Hans Joerg BUTT,BUTT,Hans Jörg,BUTT,28 May 1974,Bayern Munich,GER,191
252,Germany,23,Forward,Mario GOMEZ,GOMEZ GARCIA,Mario,GOMEZ,10 Jul 1985,Bayern Munich,GER,189
442,Netherlands,6,Midfielder,Mark VAN BOMMEL,VAN BOMMEL,Mark Peter Gertruda Andreas,V. BOMMEL,22 Apr 1977,Bayern Munich,GER,187